# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Environment variables file
.env

#ignore temp/tmp files like images
tmp/
temp/
dist/
src/multer-storage-service-account-key.json